html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
main {
    display:block;
    width: 800px;
    height: 100vh;
    background-color: rgb(229, 236, 244);  
    text-align: center;
    line-height: 100vh;
    margin: 0 auto;
}

#box{
    display: inline-block;
    background-color: rgb(113, 88, 182);
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin: 0 20px;
    border: 1px solid red;
}
